<mat-toolbar class="hero-section" color="transparent">
    <div class="overlay">
      <div class="content">
        <div class="title"> 
            <p class="title"> <span class="titleSpan">Your Dream Home,</span><span> Our Commitment.</span></p>
        </div>
        <div class="paragraph">
            <p class="titleText"> <span>At Darwazay Shad, we dedicate ourselves to finding the perfect home that</span><span> matches your unique lifestyle and needs. With our extensive market knowledge</span><span>and personalized service, we turn your dreams into reality.</span></p>
        </div>
        <a mat-raised-button href="https://www.google.com/" target="_blank" color="primary">Agents</a>
      </div>
    </div>
  </mat-toolbar> 