<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput>
</mat-form-field>

<mat-grid-list cols="2" rowHeight="600px" gutterSize="10px">

    <mat-grid-tile>
        <div class="property-list">
            <mat-card *ngFor="let property of properties" class="property-card" (click)="onPropertyClick(property)">

                <mat-card-header>
                    <mat-card-title>{{ property.name }}</mat-card-title>
                    <mat-card-content>{{ property.address }}</mat-card-content>
                </mat-card-header>
                
                <img mat-card-image [src]="property.imageUrl" alt="Image of {{ property.name }}">

                <mat-card-content>
                    <p>Some description about the property can go here.</p>
                </mat-card-content>

                <!-- Expandable details section -->
                <div *ngIf="selectedProperty?.id === property.id" class="property-details">
                    <p>{{ property.description }}</p>
                    <div class="extra-images">
                        <img *ngFor="let img of property.extraImages; let i = index" 
                        [src]="img" 
                        alt="Extra image" 
                        class="extra-image" 
                        (click)="openImageViewer(property, i)">
                    </div>
                </div>

            </mat-card>
        </div>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <google-map [center]="center" [zoom]="zoom" height="600px" width="100%">
        <map-marker *ngIf="selectedProperty" [position]="selectedProperty"></map-marker>
      </google-map>
    </mat-grid-tile>
</mat-grid-list>
