.mat-toolbar {
    background-color: cornflowerblue;
    color:white;
    padding: 1em;
    text-align: center;
    height: auto; /* Allow height to adjust based on content */
    min-height: 60px; /* Ensure it has a minimum height */
    position: relative; /* Ensure it has a positioning context */
    z-index: 10; /* Ensure it's above other content */
}

.spacer {
    flex: 1 1 auto;
}

.mat-button {
    color:green;
}

a {
    margin: 0.5em;
}

span {
    font-size: 2em;
}

