<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="spacer"> 
            <span>Darwazay Shad</span>
        </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <div class="spacer">
            <a mat-button>Instagram</a>
            <a mat-button>Facebook</a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <div class="spacer"> 
            <a mat-flat-button routerLink="/properties" color="primary">Properties</a>
        </div>
    </mat-toolbar-row>
  
  </mat-toolbar>