.mat-toolbar {
    background-color: cornflowerblue;
    color:white;
    padding: 1em;
    text-align: center;
    height: 9.5em; /* Allow height to adjust based on content */
    position: relative; /* Ensure it has a positioning context */
    z-index: 10; /* Ensure it's above other content */
}

.mat-toolbar-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.spacer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.mat-button {
    color:green;
}

a {
    margin: 0.5em;
    font-size: 1em;
    text-decoration: none;
    color: green;
}

span {
    font-size: 2em;
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
}

